Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile
missing
stamp-h1
*.o
*.exe
*~
.deps
.dirstamp
*.swp
src/Makefile
src/Makefile.in
src/bijoux_xlserver
src/logs
src/exportedfunctions/*_rflx.cpp
libtool
test-driver
ltmain.sh
src/FunctionLoaderTests
src/*.log
src/*.trs
src/test-suite.log
src/Tests
